In [2]:
import pandas as pd

In [3]:
people = {
    "first" : ["Noel", "Tiffanie", "Prashant"],
    "last" : ["Ranjit", "Fabian", "Karki"],
    "email" : ["noelranjit@gmail.com", "tiffanie@gmail.com", "peterparker@gmail.com"]
}

In [4]:
data = pd.DataFrame(people)
data

      first    last                  email
0      Noel  Ranjit   noelranjit@gmail.com
1  Tiffanie  Fabian     tiffanie@gmail.com
2  Prashant   Karki  peterparker@gmail.com

In [5]:
# use email as index because they have unique values
data.set_index('email')

                          first    last
email
noelranjit@gmail.com       Noel  Ranjit
tiffanie@gmail.com     Tiffanie  Fabian
peterparker@gmail.com  Prashant   Karki

In [6]:
# if we display the dataframe data, it doesnt show any changes
data

      first    last                  email
0      Noel  Ranjit   noelranjit@gmail.com
1  Tiffanie  Fabian     tiffanie@gmail.com
2  Prashant   Karki  peterparker@gmail.com

In [7]:
# show the changes in the same dataframe
data.set_index("email", inplace = True)
data

                          first    last
email
noelranjit@gmail.com       Noel  Ranjit
tiffanie@gmail.com     Tiffanie  Fabian
peterparker@gmail.com  Prashant   Karki

In [8]:
# showing the indexes of the dataframe
data.index

Index(['noelranjit@gmail.com', 'tiffanie@gmail.com', 'peterparker@gmail.com'], dtype='object', name='email')

In [10]:
# access the email of any user to find their first and last names
data.loc['noelranjit@gmail.com']

first      Noel
last     Ranjit
Name: noelranjit@gmail.com, dtype: object

In [12]:
# displaying only the last name of the first index
data.loc['noelranjit@gmail.com','last']

'Ranjit'

In [50]:
data.iloc[0,1]

'Noel'

In [18]:
data_new = pd.DataFrame(people)

In [24]:
data.index[0]

'noelranjit@gmail.com'

In [26]:
# resetting the index
data.reset_index(inplace = True)

In [27]:
data

                   email     first    last
0   noelranjit@gmail.com      Noel  Ranjit
1     tiffanie@gmail.com  Tiffanie  Fabian
2  peterparker@gmail.com  Prashant   Karki

In [28]:
data.loc[0]

email    noelranjit@gmail.com
first                    Noel
last                   Ranjit
Name: 0, dtype: object

In [32]:
# Setting respondent as index on survey_results_public.csv
df = pd.read_csv("C:\\Users\\Noel\Downloads\\unzipped_data\\survey_results_public.csv", index_col = "Respondent")
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [34]:
# Setting Column from schema as index column
schema = pd.read_csv("C:\\Users\\Noel\Downloads\\unzipped_data\\survey_results_schema.csv", index_col = "Column")

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [35]:
# in schema, what does hobbyist mean?
schema.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [36]:
schema.loc["MgrIdiot"]

QuestionText    How confident are you that your manager knows ...
Name: MgrIdiot, dtype: object

In [37]:
# reading the full description
schema.loc["MgrIdiot", 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

In [47]:
# sorting index alphabetically
schema.sort_index(ascending = False, inplace = True)

In [48]:
schema

                                                    QuestionText
Column
YearsCodePro   How many years have you coded professionally (...
YearsCode      Including any education, how many years have y...
WorkWeekHrs     On average, how many hours per week do you work?
WorkRemote                       How often do you work remotely?
WorkPlan                 How structured or planned is your work?
...                                                          ...
BlockchainOrg  How is your organization thinking about or imp...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BetterLife     Do you think people born today will have a bet...
Age1stCode     At what age did you write your first line of c...
Age            What is your age (in years)? If you prefer not...

[85 rows x 1 columns]