In [12]:
# Write down a list of your hobbies and :
# 1 print the entire list
# 2 print the thrid item in the list
# length of the list
hobbies = ['Juggling' , 'Coding' , 'Exercising']
print(hobbies)
print(hobbies[2])
print(len(hobbies))

['Juggling', 'Coding', 'Exercising']
Exercising
3

In [13]:
# add new hobby to the list
hobbies.append('Reading')
print(hobbies)

['Juggling', 'Coding', 'Exercising', 'Reading']

In [14]:
### add another new hobby as the second item in the list
hobbies.insert(1, 'Overwatch')
print(hobbies)

['Juggling', 'Overwatch', 'Coding', 'Exercising', 'Reading']

In [15]:
# make a new list hobbies_2 and include the items from this list to a pre-existing hobbies list
hobbies_2 = ['Youtube',  'Porn']
hobbies.extend(hobbies_2)
print(hobbies)

['Juggling', 'Overwatch', 'Coding', 'Exercising', 'Reading', 'Youtube', 'Porn']

In [18]:
### get rid of one of the hobbies
hobbies.remove('Porn')
print(hobbies)

['Juggling', 'Overwatch', 'Coding', 'Exercising', 'Reading', 'Youtube']

In [19]:
# get rid of the last value of the list
# print the course that was removed
removed = hobbies.pop()
print(hobbies)
print(removed)

['Juggling', 'Overwatch', 'Coding', 'Exercising', 'Reading']
Youtube

In [22]:
# reverse the order of the hobbies
hobbies.reverse()
print(hobbies)

['Reading', 'Exercising', 'Coding', 'Overwatch', 'Juggling']

In [24]:
# make two list courses and nums. rearrange them in ascending order
courses = ['Math', 'Science', 'Art']
courses.sort()
print(courses)

['Art', 'Math', 'Science']

In [25]:
# rearrange courses and nums in descending order
courses.sort(reverse = True)
print(courses)

['Science', 'Math', 'Art']

In [26]:
# .sort() alters the original version of the list. provide the sorted value of courses in ascending order
# also print the original courses list
original = ['History', 'Business', 'Psychology']
duplicate = sorted(original)
print(original)
print(duplicate)

['History', 'Business', 'Psychology']
['Business', 'History', 'Psychology']

In [31]:
# Find: 1. Sum of all nums in a list, 2. smallest number in num , 3. Greatest number in nums
nums = [1,7,2,9]
print(sum(nums))
print(min(nums))
print(max(nums))

19
1
9

In [35]:
# find the index of your favorite course in the list
print(courses.index('Science'))

0

In [44]:
### Check to see if Statistics is in the list of courses
print('Statistics' in courses)

NameError: name 'Statistics' is not defined

In [40]:
# use a for loop to print every course on the list
for item in courses:
    print(item)

Science
Math
Art

In [42]:
# use for loop to print every course on the list with their index
for index, item in enumerate(courses):
    print(index, item)

0 Science
1 Math
2 Art

In [43]:
# use for loop to print every course on the list with the index starting at 1
for index, items in enumerate(courses, start = 1):
    print(index, items)

1 Science
2 Math
3 Art

In [45]:
# show all the courses on the list as a string in a single variable string_courses
string_courses = ' - '.join(courses)
print(string_courses)

Science - Math - Art

In [47]:
# make a new_list list by breaking down string_courses
new_list = string_courses.split(' - ')
print(new_list)

['Science', 'Math', 'Art']

In [48]:
# replace the second course in the list with another course
courses[1] = 'Mystery'
print(courses)

['Science', 'Mystery', 'Art']

In [49]:
# make two sets courses_1 and courses_2 with a few common courses and print the common courses
courses_1 = {'Math', 'Art', 'History'}
courses_2 = {'Sciene', 'Math', 'Ecommerce'}
print(courses_1.intersection(courses_2))

{'Math'}

In [50]:
# print the courses that are in courses_2 not available in courses_1
print(courses_2.difference(courses_1))

{'Sciene', 'Ecommerce'}

In [51]:
# print all the available courses in both courses_1 and courses_2
print(courses_1.union(courses_2))

{'Sciene', 'History', 'Art', 'Ecommerce', 'Math'}

In [52]:
# print all the courses from courses_1 and courses_2 except the common courses
print(courses_1.difference(courses_2).union(courses_2.difference(courses_1)))

{'Sciene', 'Art', 'Ecommerce', 'History'}

In [53]:
# print the alternate numbers in the list_of_nums using start:stop:step
# list_of_nums = ['10', '20', '30','40','50', '60', '70', '80', '90', '100']
list_of_nums = ['10', '20', '30','40','50', '60', '70', '80', '90', '100']
print(list_of_nums[::2])

['10', '30', '50', '70', '90']